
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,400;1,100&display=swap');
body{
    max-width: 500px;
    margin: auto;
}
main{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
header{
    background-color: rgb(44, 44, 165);
    font-family: 'Lilita One', cursive;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 8px 8px 40px black;
    grid-template-rows: 75% 1fr;
}
h2{
    font-size: 1.5em;
    text-shadow: #000;
}
ul {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding-top: 15px;
    line-height: 2em;
    padding-bottom: 15px
}
footer{
    background-color: rgb(44, 44, 165);
    font-family: 'Lilita One', cursive;
    border-radius: 2em;
    box-shadow: #000;
}
#lessons{
    font-style: italic;
    font-size: 16px;
    margin-top: -10px;
}
header img{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    padding: 10px 40px 0 40px;
    width: 100%;
}
header h1{
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 1px #000000;
}
.elements-inside{
    margin: 30px;
}
#currenttime{
    color:aqua;
}