
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,400;1,100&display=swap');
body{
    max-width: 50%;
}
main{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    max-width: 500px;
    margin: auto;
}
header{
    background-color: rgb(44, 44, 165);
    font-family: 'Lilita One', cursive;
    border-radius: 2em;
    box-shadow: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h2{
    font-size: 1.5em;
    text-shadow: #000;
}
ul {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
footer{
    background-color: rgb(44, 44, 165);
    font-family: 'Lilita One', cursive;
    border-radius: 2em;
    box-shadow: #000;
}
#lessons{
    font-style: italic;
}
header img{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    padding: 20px 40px 20px 40px;
}
header h1{
    grid-column: 2/4;
    align-self: center;
    justify-self: center;
    font-size: 2em;
}