@media only screen and (min-width: 64rem){

#btn{display: none;}
/* .image-call-to-action{
    position:static;
} */
.image-call-to-action picture{
    display: grid;
}
.image-call-to-action a{
    /* top:25%; */
    left: 42%;
}
.image-call-to-action img{
    width: 85%;
    justify-self: center;
    margin-top: 20px;
}
header{
    grid-template-columns: 15% 40% 35% 10%;
}
#nav{
    display: flex;
    flex-direction: row;
    border: none;
}
header nav{
    grid-row:1;
    grid-column: 3/4;
}
header nav ul li a{
    padding-left: 0;
    text-align: center;
    border-right: 1px solid white;
}
header nav ul li a:nth-last-child(2){
    border-right: none;
}
body{
    position: relative;
}
#services-nav{
    position: absolute;
    background-color: #721121;
    z-index: 1;
}
#services-nav li a{
    padding:11px 5px;
}
.temple-section, .weather{
    margin: 50px 12%;
}
footer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0;
}
footer h3{
    grid-column: 1/5;
    width: 80%;
    margin: 0;
    padding: 10px 0;
}
#adress{
    grid-column: 1;
    width: 100%;
    margin: 0;
}
#contact{
    grid-column: 2;
    grid-row: 2;
    border-left: 1px solid white;
    width: 100%;
    margin: 0;
}
#sources{
    grid-column: 3;
    border-left: 1px solid white;
    margin: 0;
    justify-self: center;
    align-self: center;
    width: 100%;
}
#copyright{
    grid-column: 4;
    grid-row: 2;
    border-left: 1px solid white;
    justify-self: center;
    margin: 0;
    justify-self: center;
    align-self: center;
    width: 100%;
}
#copyright, #sources, #contact, #adress{
    height: 80px;
    padding: 25px 0;
}
footer .social_media{
    grid-column: 1/5;
    grid-row: 3;
    margin-top: 10px;
}
#forecast-one, #forecast-two, #forecast-three{
     grid-template-columns: 1fr;
     grid-template-rows: 25% 25% 1fr;
}
#weather-cards div img{
    grid-row: 3;
}
#weather-cards div p{
    position: static;
    height: 25px;
    margin: 0;
}
#weather-cards #current-date{
    margin: 0;
}
.contact-us{
    margin: 80px auto 50px;
    width: 400px;
}
.temple-section a{
    margin-top: 30px;
}


#temple-cards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.moroni{margin: 20px 7% 0;}

/* .services{
    grid-template-columns: repeat(6,1fr);
}
.services h2{
    grid-column: 1/7;
    grid-row: 1;
}
#services-list{
    grid-column: 1/7;
    grid-row: 2/5;
} */

/* .services img:nth-child(2){
    grid-column: 1;
    grid-row: 2;
    margin-left: 20px;
    margin-top: 30px;
}
.services img:nth-child(3){
    grid-column: 1;
    margin-left: 70px;
    grid-row: 3;
    margin-top: 30px;
}
.services img:nth-child(4){
    grid-column: 1;
    grid-row: 4;
    margin-left: 20px;
    margin-top: 30px;
}
.services img:nth-child(5){
    grid-column: 5;
} */
#first-block-img,#second-block-img{
    flex-direction: column;
    width: 70%;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}
#first-block-img{
    grid-column: 1;
}
#second-block-img{
    grid-column: 3;
}
#services-list{
    margin: 20px 0 40px;
    grid-row: 2;
}
.services h2{
    grid-row: 1;
}
}