@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap');

body{
    max-width: 1500px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
header,footer{
    background-color: #721121;
    display:grid;
    color:white
}
header{
    grid-template-columns: 15% 30% 25% 30%;
}
h1{
    margin:0;
    grid-column: 2/4;
    grid-row: 1;
    justify-self: left;
    padding-left: 10px;
}
header #btn{
    grid-column: 1;
    grid-row: 1;
    padding:5px;
    width:45px;
    height: 45px;
    justify-self: center;
    align-self: center;
    border: none;
}
 header .social_media{
    grid-column: 3/5;
    grid-row: 1;
    justify-self: right;
    align-self: center;
    width: 100px;
    height: 50px;
}
.social_media img{
    height: 45px;
    width: 45px;
}
header nav{
    width: 100%;
    grid-column: 1/5;
}
header nav ul{
    grid-row: 2;
    grid-column: 1/5;
    justify-self: center;
    display: none;
    padding:0;
    border: 1px solid white;
    margin-bottom: 0;
}
header nav ul li{
    display: block;
    width: 100%;
}
header nav ul li a{
    display: block;
    padding:11px 0;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
header nav ul li a:hover{
    text-shadow: 1px 1px 5px white;
    box-shadow: 1px 1px 5px white;
}
header .logo{
    display: none;
}
nav ul li ul li a{
    padding-left: 30px;
}
header nav ul.open{
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
    align-items: center;
}
h1,h2,h3{
    font-family: 'Playfair Display', serif;
    line-height: 1.5em;
}
.cordoba-temple img{
    width: 100%;
}
.image-call-to-action{
    position: relative;
}
.image-call-to-action a{
    position: absolute;
    color:white;
    background-color: #7211217e;
    text-decoration: none;
    top: 70%;
    left: 27%;
    padding:10px;
    border-radius: 5px;
}
.image-call-to-action a:hover{
    background-color: #721121;
    box-shadow: 1px 1px 20px white;
    text-shadow: 1px 1px 5px white;
}
main h2, main h3{
    color: #721121;
}
main div, footer{
    padding:10px;
}
.image-call-to-action{
    padding: 0;
}
footer{
    display:flex;
    flex-direction: column;
    text-align: center;
}
footer .logo{
    width: 60px;
    height: 65px;
    align-self: center;
}
footer .logo img{
    width: 60px;
    
}
footer a{
    color: #c2c0c0;
}
#extra-logo{
    display: none;
}
.temple-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temple-section a{
    color: black;
    padding: 10px 15px;
    background-color: #ffef5f8e;
    border: 1px solid #ffef5f8e;
    border-radius: 30px 0;
}
.temple-section a:hover{
    background-color: #ffef5f;
    box-shadow: 1px 1px 10px #ffef5f;
}

.temple-section img{
    box-shadow: 1px 1px 30px #ffef5f;
}
.temple-section h2{
    margin: 30px 0;
}
.contact-us{
    border: 1px #721121 solid;
    margin: 30px 15px 15px;
    display: grid;
    text-align: center;
    border-radius: 15px;
    background-color: #d6ad85;
}
.contact-us h2{
    margin-top: -28px;
    width: 50%;
    justify-self: center;
    background-color: #d6ad85;
    border-radius: 10px;
}
.weather h3{display:none;}
#weather-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 50% 30%;
    border: 3px solid #ffef5f;
    margin-bottom: 30px;
    padding: 0;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
}
#weather-cards h3{
    display: block;
    grid-row: 1;
    grid-column:1/3;
    padding: 0 10px;
    margin-bottom: 0;
    /* color: #721121; */
}
#weather-cards #current-date{
    grid-column:3;
    justify-self: center;
    color: #721121;
}
#weather-cards img{
    grid-row: 2;
    grid-column:1/3;
    justify-self: center;
    align-self: center;
    width: 90px;
}
#weather-cards div{
    grid-column: 3/4;
    grid-row: 2;
    justify-self: center;
    margin-left: -50px;
    width: 100%;
    padding: 0;
}
#weather-cards div p{
    margin:10px 0;
}
#weather-cards #forecast-one{
    grid-column: 1;
    grid-row: 3;
    margin: 0;
    border-radius: 0 0 0 10px;
}
#weather-cards #forecast-two{
    grid-column: 2;
    grid-row: 3;
    margin: 0;
}
#weather-cards #forecast-three{
    grid-column: 3;
    grid-row: 3;
    margin: 0;
    border-radius: 0 0 10px 0;
}

#forecast-one, #forecast-two, #forecast-three{
    border:1px #ffef5f solid;
    border-collapse: collapse;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;
    position: relative;
}
#forecast-one .day, #forecast-two .day, #forecast-three .day{
    grid-column: 1/3;
    margin-left: 0;
    margin-top: 5px;
    color: #721121;
}
#forecast-one img, #forecast-two img, #forecast-three img{
    grid-column: 1;
}
.temp{
    /* margin-left: -15px; */
    position:absolute;
    top:30px;
    left: 80px;
}

/*------------------------------------------Temples page----------------------------------------------- */

.temple-page h2{
    text-align: center;
    margin:30px 0;
}
.temple-page img{width: 100%;}
.temple-page #like-section img{
    width: initial;
    grid-row: 1;
}
#like-section p{
    grid-row: 1;
    color: #721121;
    font-weight: bold;
    text-shadow: 1px 1px 3px #721121;
}
#temple-cards div{
    border: 1px solid #721121;
    background-color: #ffef5f;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#temple-cards div h3{
    align-self: center;
}
#temple-cards div div{
    border: none;
}

#second_part p{
    text-align: center;
}
#temple-cards div div button{
    width: 44px;
    height: 44px;
    background-color: #721121;
    color: white;
    border: 1px solid #721121;
}

#temple-cards #first_part,#temple-cards #second_part{
    display: block;
}
#temple-cards #second_part{
    display: none;
}

#temple-cards div div{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
}
#temple-cards div div button:nth-child(2){
    justify-self: left;
    background-color: white;
    color: #721121;
    border: 1px solid #721121;
    grid-row: 1;
}
#firstBtn{
    grid-row: 1;
}
#first_part p{
    margin: 16px 10px;
}
#second_part ul{
    padding-left: 12px;
}
#second_part ul li{
    /* list-style: georgian; */
    margin-left: 0;
}
.moroni{
    padding: 0;
}
.moroni picture, .moroni picture img{
    width: 100%;
}

/*-----------------------------------Reservation-------------------------------------*/
form{
    margin:0 10%;
}
form fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    border: 2px solid #d6ad85;
    border-radius: 10px;
}
form fieldset legend{
    font-weight: bold;
}
form fieldset input, form button{
    height: 44px;
    background-color: #c2c0c059;
}
textarea{
    background-color: #c2c0c059;
}
label{
    line-height: 1.5em;
    padding-top: 5px;
}
form button{
    width: 80px;
    background-color: #d6ad85;
}
#additional{
    height: 200px;
}
#type-option{
    display: flex;
    flex-direction: column;
}
#type-option label{
    margin-right: 10px;
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 44px;
    align-items: center;
}
#type-option label input{
    padding: 0 20px;
}
.reservation-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input:required{
    border-left: 5px solid red;
}
input:required:valid{
    border-left: 5px solid green;
}
.thankyou div{
    margin: 200px;
}
.thankyou div a{
    color: #721121;
}
.thankyou div a:hover{
    text-shadow: 1px 1px 5px #721121;
}
#services-list{
    border: 1px solid #721121;
    background-color: #d6ad857c;
    border-radius: 20px;
    margin: 20px 10px 40px;
    grid-column: 1/4;
    max-width: 480px;
    justify-self: center;
}
.services h2{
    margin: 20px 10px;
    text-align: center;
    grid-row: 2;
    grid-column: 1/4;
}
.services a{color: #721121;}

.services h3{
    text-align: center;
}
#first-block-img,#second-block-img{
    display: flex;
    width: 100%;
    padding: 0;
    justify-self: center;
    grid-column: 1/4;
}
.services div picture{
    width: 100%;
}
.services img{
    width:100%;
    height: 100%;
}

.services{
    display: grid;
    grid-template-columns: 1fr 45% 1fr;
}


.missionaries picture,.missionaries p,.missionaries h2{
    padding: 10px;
}
.missionaries picture img{
    width: 100%;
}
.missionaries .hotel-banner {
    padding: 0;
}
.missionaries .hotel-banner img{
    width: 100%;
}
#sendInfo{
    width: 120px;
    align-self: center;
}
.missionaries{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
#comments{
    height: 100px;
}
.reception picture, .reception picture img{
    width: 100%;
}
.reception div{
    padding: 0;
    margin: 0 0 50px 0;
}
.reception h2,h3,p{
    margin: 20px;
    text-align: center;
}

.reception div p, .reception div h3, .reception div h2{
    text-align: left;
}