@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
/* spacing */

body main{
  display: grid;
}
table {
    table-layout: fixed;
    max-width: 800px;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    box-shadow: 10px 10px 30px gray;
    justify-self: center;
    margin:30px
  }
  
  th:nth-child(1) {
    width: 30%;
  }
  
  th:nth-child(2) {
    width: 20%;
  }
  
  th:nth-child(3) {
    width: 15%;
  }
  
  th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }
  th{
    background-color: #5465FF;
    color: white;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr:nth-child(odd){
    background-color: #BFD7FF;
  }
  tr:nth-child(even){
    background-color: #9BB1FF;
  }
  .titfo{
    background-color: #312F2F;
    color: white;
  }
  tbody tr:nth-child(4) td:nth-child(3){
    background-color: #5465FF
  }