
@media only screen and (min-width:32.5em){
    nav ul { 
        flex-direction: row;
    }
    body{
        max-width: 1000px;
    }
    nav ul{
        padding-inline-start: 40px;
    }
    img {
        width: 20%;
    }
}