@import url('https://fonts.googleapis.com/css2?family=Lato&family=Salsa&display=swap');

body{
    max-width: 500px;
    margin: auto;
    background-color: #C4A381;
}
main{
    padding: 10px;
    background-color:white;
}

h1, h2, h3{
    font-family: 'Salsa', cursive;
}
p {
    font-family: 'Lato', sans-serif;
}
nav ul { 
    display: flex; 
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    padding-inline-start: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
}
nav ul li { 
    flex: 1 1 auto; 
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
    font-size:1.2em;
}
a:hover{
    background-color: #EEF1BD;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #a78986;
}
nav{
    background-color: #BBD686;
    align-items: center;
    padding: 5px;
}
img{
    width: -webkit-fill-available;
}
footer{
    text-align: center;
}