@import url('https://fonts.googleapis.com/css2?family=Lato&family=Salsa&display=swap');

body{
    max-width: 500px;
    margin: auto;
}
main{
    padding: 10px;
}
h1, h2, h3{
    font-family: 'Salsa', cursive;
}
p {
    font-family: 'Lato', sans-serif;
}
nav ul { 
    display: flex; 
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    padding-inline-start: 0;
}
nav ul li { 
    flex: 1 1 auto; 
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
}
header{
    text-align: center;
    padding: 10px;
}